<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ name }} Watchlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body>

    <div class="watchlist-container">
        <h2>
            <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/avatar.jpg') }}" />
            {{ name }}'s Watchlist
        </h2>
        <p>{{ movies|length }} Titles</p>
        <ul class="movie-list">
            {% for movie in movies %}
            <li class="movie-item">
                <span class="movie-title">{{ movie.title }}</span> -
                <span class="movie-year">{{ movie.year }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <footer>
        <img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.jpg') }}" />
        <small>&copy;2018 <a href="http:helloflask.com/tutorial">HelloFlask</a></small>
    </footer>
</body>
</html>